body{
	display: flex;
	align-items: center;
	justify-content: center;
}
.bodyAround{
	height: 740px;
	width: 400px;
	border-style: solid;
	padding: 1em;
}
.top-p{
	margin: 0px;
}
.nutrition{
	margin: 0px;
	font-weight: bold;
}
.line{
	height: 15px;
	background-color: black;
	margin: 0;
}
.part2 p{
	display: flex;
	justify-content: flex-end;
	margin-right: 1em;
	margin-top: 0px;
	margin-bottom: 0px;
}
.part3 .heading{
	display: flex;
	justify-content: space-between;
}
.shrink{
	flex-grow: 1;
}
.part3 .heading p{
		margin-right: 1em;
		margin-bottom: 0px;
		margin-top: 0px;
}
.part3 .calories{
	display: flex;
	justify-content: space-between;
}
.part3 .calories p{
		margin-right: 1em;
		margin-top: 0px;
		margin-bottom: 0px;
}
.underline{
	margin: 0px;
	border-style: none;
	height: 0.1em;
	background-color: black;
}
.underline2{
	margin: 0px 0px 0px 1em;
	border-style: none;
	height: 0.1em;
	background-color: black;
}
.underline3{
	margin: 0px;
	height: 0.4em;
	background-color: black;
	border-style: none;
}
.underline4{
	margin: 0px;
	height: 0.15em;
	background-color: black;
	border-style: none;
}
#bold{
	font-weight: bold;
}
.part3 .calories-secondRow{
	display: flex;
	justify-content: space-between;
}
.part3 .calories-secondRow p{
		margin-right: 1em;
		margin-top: 0px;
		margin-bottom: 0px;
}
.right{
	margin-left: 1em;
}
.grid{
	display: grid;
	grid-template-columns: 12em 6em 4em 6em;
	grid-template-rows: 1fr ;
	margin: 0;
}
.grid p{
	margin: 0px;
}
.top-grid{
	display: grid;
	grid-template-columns: 12em 6em 4em 6em;
	grid-template-rows: 1fr;
	margin: 0;
}
.top-grid p{
	margin: 0;
}
#new{
	margin-left: 1em;
}
.grid-bottom{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	margin: 0 30px;
}
.grid-bottom p{
	margin-top: 0;
	text-align: center;
}