
<!-- HTML TEMPLATE-->
<!DOCTYPE html>
<html lang=en’>

	<head>
		<title>Titel der Website</title>
		<meta name="author" content="Jasmine">
		<meta name="describtion" content="kurze Beschreibung!">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="style.css">
		<script language="javascript" type="text/javascript" src="dateiname.js"></script>
	</head>

	<body>
		<header>
		
		</header>
		
		<nav>
		
		</nav>
		
		<main>
			<section></section>
			<article></article>
			<aside></aside>
		</main>
		
		<footer>
		
		</footer>
	</body>
</html>


<!-- TABLE -->
<div class="table">
	<div class="td">
		<p>Inhalt</p>
	</div>

	<div class="td">
		<p>Inhalt</p>
	</div>
</div>

<!-- FLEXBOX -->
<div class="flex">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>


