
	<!DOCTYPE html>					<-- definiert den Dokumenttyp und die HTML-Version
	<html lang="de">				<-- hier beginnt das HTML Dokument
		<head>						<-- in den Head kommen META Informationen
		</head>
		
		<body>						<-- hier beginnt der sichtbare Bereich
			<header>				<-- der obere Bereich einer Site
			</header>

			<nav>					<-- Navigationsleiste
			</nav>

			<main>						<-- Hauptteil einer Seite
				<section></section>		<-- Unterkategorien
				<article></article>
				<aside></aside>
			</main>

			<footer>					<-- der untere Teil einer Seite
			</footer>
		</body>
	</html>

	<head>
		<title>Titel</title>					<-- Titel (erscheint im Tab des Browserfensters)
		<meta charset="utf-8">					<-- Zeichencodierung
		<meta name="viewport" content="width=device-width, initial-scale=1.0">	<-- @media Queries
		<meta name="author" content="Name">			<-- Author
		<meta name="describtion" content="Text">	<-- kurze Beschreibung
		<link rel="stylesheet" href="style.css">	<-- CSS File
		<link href="favicon.png" type="image/png" rel="shortcut-icon">		<-- Favicon
		<script language="javascript" type="text/javascript" src="dateiname.js"></script>	<-- JavaScript
	</head>

	

